@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Wix Madefor Text';
  src: url('/fonts/WixMadeforText-VariableFont_wght.woff2') format('woff2'),
       url('/fonts/WixMadeforText-VariableFont_wght.woff') format('woff'),
       url('/fonts/WixMadeforText-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Define variable font weights */
  font-style: normal;
}

body {
  @apply bg-gray-100 text-gray-800 font-wix;
}

.spinner {
  width: 100px;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner div {
  width: 8px; /* Thickness of each spoke */
  height: 25px; /* Length of each spoke */
  background-color: #ffffff; /* Default to white */
  border-radius: 4px; /* Smooth edges */
  position: absolute;
  opacity: 0.3; /* Dim by default */
  animation: spin-fade 1.2s infinite ease-in-out;
}

.spinner div:nth-child(1) {
  background-color: #ffffff; /* White */
  transform: rotate(0deg) translate(0, -40px);
  animation-delay: -1.1s;
}

.spinner div:nth-child(2) {
  background-color: #e0e0e0; /* Light gray */
  transform: rotate(30deg) translate(0, -40px);
  animation-delay: -1s;
}

.spinner div:nth-child(3) {
  background-color: #c0c0c0; /* Slightly darker gray */
  transform: rotate(60deg) translate(0, -40px);
  animation-delay: -0.9s;
}

.spinner div:nth-child(4) {
  background-color: #a0a0a0; /* Medium gray */
  transform: rotate(90deg) translate(0, -40px);
  animation-delay: -0.8s;
}

.spinner div:nth-child(5) {
  background-color: #808080; /* Dark gray */
  transform: rotate(120deg) translate(0, -40px);
  animation-delay: -0.7s;
}

.spinner div:nth-child(6) {
  background-color: #607070; /* Darker gray */
  transform: rotate(150deg) translate(0, -40px);
  animation-delay: -0.6s;
}

.spinner div:nth-child(7) {
  background-color: #406060; /* Darker gray */
  transform: rotate(180deg) translate(0, -40px);
  animation-delay: -0.5s;
}

.spinner div:nth-child(8) {
  background-color: #204030; /* Even darker */
  transform: rotate(210deg) translate(0, -40px);
  animation-delay: -0.4s;
}

.spinner div:nth-child(9) {
  background-color: #102020; /* Very dark */
  transform: rotate(240deg) translate(0, -40px);
  animation-delay: -0.3s;
}

.spinner div:nth-child(10) {
  background-color: #101010; /* Almost black */
  transform: rotate(270deg) translate(0, -40px);
  animation-delay: -0.2s;
}

.spinner div:nth-child(11) {
  background-color: #080808; /* Very dark */
  transform: rotate(300deg) translate(0, -40px);
  animation-delay: -0.1s;
}

.spinner div:nth-child(12) {
  background-color: #000000; /* Black */
  transform: rotate(330deg) translate(0, -40px);
  animation-delay: 0s;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  display: inline-block;
}

@keyframes spin-fade {
  0%, 39%, 100% {
    opacity: 0.3; /* Dim state */
  }
  40% {
    opacity: 1; /* Fully visible at this point */
  }
}

